<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <title>Weather App</title>
</head>
<body>
    <div id="map" style="height: 400px;"></div>
    <form id="weatherForm">
        <input type="text" id="cityInput" name="city" placeholder="Enter city name" required>
        <button type="submit">Get Weather</button>
    </form>

    <div id="weatherInfo"></div>
    <div id="map" style="height: 400px;"></div>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="app.js"></script>

    <footer>
        <p>Meirambek Koishybaev - SE-2203</p>
    </footer>
</body>
</html>
